<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=<Accountname>;AccountKey=<accountket>" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=<Accountname>;AccountKey=<accountket>" />
    <add name="DBConnection" connectionString="Server=tcp:<db server name>,1433;Database=<db name>;User ID=<username>;Password=<password>;Encrypt=True;TrustServerCertificate=False;Connection Timeout=6030;" />
  </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key ="StorageURL" value="https://getpyproductpics.blob.core.windows.net/"  />
    <add key ="StorageName" value="getpyproductpics"  />
    <add key="StorageConnectionPy" value="DefaultEndpointsProtocol=https;AccountName=getpyproductpics;AccountKey=WbHIl9LJUH1/UgzKT0NZkxpAz/YuAbllki842O0ClrYLoi58HAsRJFcBbqneMhvsC3HAtvjth/ezkmLXDQzmhQ==;EndpointSuffix=core.windows.net" />
  </appSettings>

</configuration>
